UserInterfaceState.xcuserstate
BenchHub.xcodeproj/project.xcworkspace/xcuserdata/shun.xcuserdatad/UserInterfaceState.xcuserstate
*.resolved
BenchHub.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
BenchHub.xcodeproj/xcuserdata/shun.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
